<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
 id="WebApp_ID" version="3.0">

<display-name>InsuranceManagement</display-name> 

<welcome-file-list>
            <welcome-file>/login.htm</welcome-file>
</welcome-file-list>
  <servlet>
    <servlet-name>FirstLoginServlet</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.Login</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>FirstLoginServlet</servlet-name>
     <url-pattern>/Logintwm</url-pattern>
 </servlet-mapping>
<servlet>
    <servlet-name>StoreMessage</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.StoreMessage</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>StoreMessage</servlet-name>
     <url-pattern>/SendMessage</url-pattern>
 </servlet-mapping>
<servlet>
    <servlet-name>OpenContent</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.OpenContent</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>OpenContent</servlet-name>
     <url-pattern>/OpenContent</url-pattern>
 </servlet-mapping>
<servlet>
    <servlet-name>DeleteMessage</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.DeleteMessage</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>DeleteMessage</servlet-name>
     <url-pattern>/deletemessage</url-pattern>
 </servlet-mapping>
 <servlet>
    <servlet-name>CreateGroup</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.CreateGroup</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>CreateGroup</servlet-name>
     <url-pattern>/CreateGroup</url-pattern>
 </servlet-mapping>
<servlet>
    <servlet-name>StoreGroupMessage</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.StoreGroupMessage</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>StoreGroupMessage</servlet-name>
     <url-pattern>/storegroupmessage</url-pattern>
 </servlet-mapping>
 <servlet>
    <servlet-name>StoreMeeting</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.StoreMeeting</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>StoreMeeting</servlet-name>
     <url-pattern>/StoreMeeting</url-pattern>
 </servlet-mapping>
 <servlet>
    <servlet-name>StoreContact</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.StoreContact</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>StoreContact</servlet-name>
     <url-pattern>/StoreContact</url-pattern>
 </servlet-mapping>
<servlet>
    <servlet-name>DeleteAddress</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.DeleteAddress</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>DeleteAddress</servlet-name>
     <url-pattern>/deleteaddress</url-pattern>
 </servlet-mapping>
 <servlet>
    <servlet-name>ModiyAddress</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.ModiyAddress</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>ModiyAddress</servlet-name>
     <url-pattern>/ModiyAddress</url-pattern>
 </servlet-mapping>
 <servlet>
    <servlet-name>OpenAddressBook</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.OpenAddressBook</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>OpenAddressBook</servlet-name>
     <url-pattern>/openaddressbook</url-pattern>
 </servlet-mapping>
 <servlet>
    <servlet-name>SendFeedback</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.SendFeedback</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>SendFeedback</servlet-name>
     <url-pattern>/SendFeedback</url-pattern>
 </servlet-mapping>
 <servlet>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.ChangePassword</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>ChangePassword</servlet-name>
     <url-pattern>/Change</url-pattern>
 </servlet-mapping>
 <servlet>
    <servlet-name>StoreSchedule</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.StoreSchedule</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>StoreSchedule</servlet-name>
     <url-pattern>/storeschedule</url-pattern>
 </servlet-mapping>
 <servlet>
    <servlet-name>StoreWorkLog</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.StoreWorkLog</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>StoreWorkLog</servlet-name>
     <url-pattern>/storeworklog</url-pattern>
 </servlet-mapping>

<servlet>
    <servlet-name>StoreWorkReport</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.StoreWorkReport</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>StoreWorkReport</servlet-name>
     <url-pattern>/storeworkreport</url-pattern>
 </servlet-mapping>
<servlet>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.AddUser</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>AddUser</servlet-name>
     <url-pattern>/adduser</url-pattern>
 </servlet-mapping>

<servlet>
    <servlet-name>LeaveDetails</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.LeaveDetails</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>LeaveDetails</servlet-name>
     <url-pattern>/LeaveDetails</url-pattern>
 </servlet-mapping>
<!--  <servlet>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.UploadFile</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>UploadFile</servlet-name>
     <url-pattern>/UploadFile</url-pattern>
 </servlet-mapping>-->

<servlet>
    <servlet-name>NoticeBoard</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.NoticeBoard</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>NoticeBoard</servlet-name>
     <url-pattern>/NoticeBoard</url-pattern>
 </servlet-mapping>

<servlet>
    <servlet-name>Download</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.Download</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>Download</servlet-name>
     <url-pattern>/Download</url-pattern>
 </servlet-mapping>


<servlet>
    <servlet-name>Timeout</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.Timeout</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>Timeout</servlet-name>
     <url-pattern>/timeout</url-pattern>
 </servlet-mapping>
<servlet>
    <servlet-name>StoreNews</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.StoreNews</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>StoreNews</servlet-name>
     <url-pattern>/storenews</url-pattern>
 </servlet-mapping>

<servlet>
    <servlet-name>BranchDetails</servlet-name>
    <servlet-class>org.cdsdemo.insurancemanagement.backend.BranchDetails</servlet-class>
  </servlet>
 <servlet-mapping>
     <servlet-name>BranchDetails</servlet-name>
     <url-pattern>/branchdetails</url-pattern>
 </servlet-mapping>
</web-app>

